.content {
    margin-top: 2rem;
}

ul {
    margin-left: 0;
}

.comments-list {
    max-height: 300px;
    overflow: auto;
}

    .comments-list li {
        list-style-type: none;
    }

.comment-input {
    max-height: 200px;
}

.inactive {
    background-color: #808080 !important;
}

.reports-list {
    padding-left: 0.5rem;
}

    .reports-list li {
        margin: 0.3rem;
    }

        .reports-list li :hover {
            cursor: zoom-in;
        }

    .reports-list :first-child {
        margin-top: 0 !important;
    }

    .reports-list :last-child {
        margin-bottom: 0 !important;
    }

@media only screen {
    .side-nav {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 40.063em) {

    .side-nav {
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: none;
    }
}

.side-nav li {
    margin: 1px;
    padding: 10px;
    color: white;
}

.details-frame {
    padding-left: 0;
}

.reveal-modal {
    padding: 0;
}

.report-details-content {
    padding: 1.4rem;
}

.submit-report-content .map-canvas {
    height: 300px;
}

.submit-report-content .row {
    margin-left: 0;
    margin-right: 0;
}

.type-select {
    height: 4rem;
    position: relative;
}

    .type-select > div {
        position: absolute;
    }

    .type-select :first-child {
        left: 0;
        right: 50%;
    }

    .type-select :last-child {
        right: 0;
        left: 50%;
    }

.submit-button {
    width: 100%;
}

.hidden {
    display: none;
}

#spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}