<!DOCTYPE html>
<html>
<head>
    {{ include static_head.ejs }}
</head>
<body>
    {{ if(locals.city) { }}
    <script> var city = 
        {{- JSON.stringify(locals.city) }};
    </script>
    {{ } }}
    {{ include static_body_header.ejs }}
    {{ include static_body_footer.ejs }}
    {{ include static_includes.ejs }}

        <script>
            $(document).foundation();
        </script>
    <script>
        LostAndFound.App.init();
    </script>

</body>
</html>
