<!DOCTYPE html>
<% 

var r = JSON.parse(report);
var c = JSON.parse(category);

var description = "";
if (r.reward && r.type == "lost") {
    description += "Finderlohn " + r.reward + " € - ";
}
description += r.description;


var title = "";
if (r.type == "lost") {
    title += "Verloren! ";
} else {
    title += "Gefunden! ";
}
title += r.title;

var image;
if(r.image){
    image = r.image.url;
} else {
    image = "http://" + host + "/res/images/placeholders/" + c.shortname + ".png";
}

%>
<html>

<head>
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image%>"/>
</head>
<body>
    <script>

    </script>
</body>
</html>