<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body id="body">
    <h2 data-bind="text: title"></h2>

    <script src="../../libs/jquery-2.0.3.min.js"></script>
    <script src="../../libs/knockout.js"></script>
    <script src="../viewModels/mapViewModel.js"></script>
    <script>
        ko.applyBindings(new ViewModels.MapViewModel(), document.getElementById("body"));
    </script>
</body>
</html>
